.activity_form {
  display: flex;
}

.activity_container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.activity_portion_wrapper {
  margin: 0 20px 20px 0;
  width: auto;
}

.add_portion_button {
  position: absolute;
  bottom: -27px;
  right: 0;
}

.activity_container_divider {
  position: relative;
  margin: 50px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
}

@media only screen and (max-width: 480px) {
  .activity_portion_wrapper {
    width: 100%;
    margin-right: 0;
  }
}

